In [1]:
import mysql.connector as may
from collections import Counter
import random

In [2]:
passw=input("Enter the password: ")
mycon=may.connect(host='localhost', user='root', passwd=passw, database='projectst')

In [3]:
cursor=mycon.cursor()

In [4]:
cursor.execute("SELECT * FROM Class")
ClassData=cursor.fetchall()

In [5]:
print(ClassData)

[('XII-A', 'History', 'HST01', 8, 'Civics', 'CV01', 8, 'Physical Edu', 'PE02', 8, 'Economics', 'ECO01', 8, 'English', 'ENG03', 8), ('XII-B', 'Accounts', 'ACC01', 8, 'Bussiness', 'BST2', 8, 'Physical Edu', 'PE01', 8, 'Economics', 'ECO01', 8, 'English', 'ENG01', 8), ('XII-C', 'Accounts', 'ACC01', 8, 'Bussiness', 'BST1', 8, 'Maths', 'MTH03', 8, 'Economics', 'ECO01', 8, 'English', 'ENG02', 8), ('XII-D', 'Physics', 'PHY01', 8, 'Chemistry', 'CHEM2', 8, 'Maths', 'MTH01', 8, 'Computer Sci', 'CS02', 8, 'English', 'ENG02', 8), ('XII-E', 'Physics', 'PHY01', 8, 'Chemistry', 'CHEM1', 8, 'Maths', 'MTH01', 8, 'Computer Sci', 'CS02', 8, 'English', 'ENG01', 8), ('XII-F', 'Physics', 'PHY01', 8, 'Chemistry', 'CHEM2', 8, 'Maths', 'MTH02', 8, 'Computer Sci', 'CS02', 8, 'English', 'ENG02', 8)]

In [6]:
#This Function will combine Sunject, TeacherCode and No. of Periods for each subject
#into a single for easy use

ClassList=[]

def ClCombiner(ClassData):
    for i in range(0,len(ClassData)):
        Cl=[]
        Cl.append(ClassData[i][0])
        Cl.append(ClassData[i][1:4])
        Cl.append(ClassData[i][4:7])
        Cl.append(ClassData[i][7:10])
        Cl.append(ClassData[i][10:13])
        Cl.append(ClassData[i][13:16])
        ClassList.append(Cl)

In [7]:
ClCombiner(ClassData)

In [8]:
print(ClassList)

[['XII-A', ('History', 'HST01', 8), ('Civics', 'CV01', 8), ('Physical Edu', 'PE02', 8), ('Economics', 'ECO01', 8), ('English', 'ENG03', 8)], ['XII-B', ('Accounts', 'ACC01', 8), ('Bussiness', 'BST2', 8), ('Physical Edu', 'PE01', 8), ('Economics', 'ECO01', 8), ('English', 'ENG01', 8)], ['XII-C', ('Accounts', 'ACC01', 8), ('Bussiness', 'BST1', 8), ('Maths', 'MTH03', 8), ('Economics', 'ECO01', 8), ('English', 'ENG02', 8)], ['XII-D', ('Physics', 'PHY01', 8), ('Chemistry', 'CHEM2', 8), ('Maths', 'MTH01', 8), ('Computer Sci', 'CS02', 8), ('English', 'ENG02', 8)], ['XII-E', ('Physics', 'PHY01', 8), ('Chemistry', 'CHEM1', 8), ('Maths', 'MTH01', 8), ('Computer Sci', 'CS02', 8), ('English', 'ENG01', 8)], ['XII-F', ('Physics', 'PHY01', 8), ('Chemistry', 'CHEM2', 8), ('Maths', 'MTH02', 8), ('Computer Sci', 'CS02', 8), ('English', 'ENG02', 8)]]

In [9]:
cursor.execute("SELECT * FROM Teacher")
TeacherData=cursor.fetchall()
print(TeacherData)

[('Jyoti Sharma', 'CHEM1', 'CHEMISTRY', 'CHY', 8), ('Jigyasa Jain', 'CHEM2', 'Chemistry', 'CHY', 16), ('Vinod Verma', 'MTH01', 'Maths', 'MATH', 16), ('Pallavi Aggarwal', 'MTH02', 'Maths', 'MATH', 8), ('Anubha', 'MTH03', 'Maths', 'MATH', 8), ('Amit Tomar', 'PHY01', 'Physics', 'PHY', 16), ('Ansara Banu', 'CS02', 'Computer Sci', 'CS', 16), ('Anjali Goswami', 'ENG01', 'English', 'ENG', 16), ('Ruchi Jain', 'ENG02', 'English', 'ENG', 24), ('Akriti Sinha', 'ENG03', 'English', 'ENG', 8), ('Sachin Sharma', 'PE01', 'Physical Edu', 'PE', 8), ('Harinder', 'PE02', 'Physical Edu', 'PE', 8), ('Sakshi', 'ECO01', 'Economics', 'ECO', 24), ('Vishal Dhingra', 'ACC01', 'Accounts', 'ACC', 16), ('Pooja Gupta', 'BST2', 'Bussiness', 'BST', 8), ('Neha Gupta', 'BST1', 'Bussiness', 'BST', 8), ('Swarupa', 'HST01', 'History', 'HST', 8), ('Mukesh', 'CV01', 'CIVICS', 'CV', 8)]

In [10]:
def ttinitiator(d):
    d[0][0]="Zero"
    d[1][0]='Monday'
    d[2][0]='Tuesday'
    d[3][0]='Wednesday'
    d[4][0]='Thursday'
    d[5][0]='Friday'
    d[0][1]="1"
    d[0][2]="2"
    d[0][3]="3"
    d[0][4]="4"
    d[0][5]="5"
    d[0][6]="6"
    d[0][7]="7"
    d[0][8]="8"

In [11]:
#Function to insert subjects in student time table
def stt_insert(tt, sub, pos):
    tt[pos[0]][pos[1]]=sub
    
#Function to insert classes in teacher time table
def ttt_insert(tt, Classs, pos):
    tt[pos[0]][pos[1]]=Classs

In [12]:
Subject ={'English':'ENG',
          'Physics':'PHY',
          'Chemistry':'CHY',
          'Maths':'MATH',
          'Accounts':'ACC',
          'Bussiness':'BST',
          'Economics':'ECO',
          'Computer Sci':'CS',
          'History':'HST',
          'Civics':'CV',
          'Physical Edu':'PE'
         }

In [13]:
class Class:
    
    def __init__(self, classname,sub1,sub2,sub3,sub4,sub5):
        
        self.classname=classname
        s1=Subject[sub1[0]]
        s2=Subject[sub2[0]]
        s3=Subject[sub3[0]]
        s4=Subject[sub4[0]]
        s5=Subject[sub5[0]]
        
        self.subject1=s1
        self.subject2=s2
        self.subject3=s3
        self.subject4=s4
        self.subject5=s5
        
        t1=sub1[1]
        t2=sub2[1]
        t3=sub3[1]
        t4=sub4[1]
        t5=sub5[1]
        
        self.teacher1=t1   #s1, t1 will be subject code not names 
        self.teacher2=t2
        self.teacher3=t3
        self.teacher4=t4
        self.teacher5=t5
        
        self.period1=sub1[2]
        self.period2=sub2[2]
        self.period3=sub3[2]
        self.period4=sub4[2]
        self.period5=sub5[2]
        
        subjects=(s1,s2,s3,s4,s5)
        self.subjects=subjects
        
        periods=(sub1[2],sub2[2],sub3[2],sub4[2],sub5[2])
        self.periods=periods
        
        #DICTIONARY LINKING SUB CODE TO TEACHER CODE
        D={s1:t1,
           s2:t2,
           s3:t3,
           s4:t4,
           s5:t5}
        
        self.D=D
        
        tt=[[0] * 9 for _ in range(6)]
        ttinitiator(tt)
        self.stt=tt

In [14]:
E12= Class(ClassList[4][0],ClassList[4][1],ClassList[4][2],ClassList[4][3],ClassList[4][4],ClassList[4][5])
F12= Class(ClassList[5][0],ClassList[5][1],ClassList[5][2],ClassList[5][3],ClassList[5][4],ClassList[5][5])
D12= Class(ClassList[3][0],ClassList[3][1],ClassList[3][2],ClassList[3][3],ClassList[3][4],ClassList[3][5])
C12= Class(ClassList[2][0],ClassList[2][1],ClassList[2][2],ClassList[2][3],ClassList[2][4],ClassList[2][5])
B12= Class(ClassList[1][0],ClassList[1][1],ClassList[1][2],ClassList[1][3],ClassList[1][4],ClassList[1][5])
A12= Class(ClassList[0][0],ClassList[0][1],ClassList[0][2],ClassList[0][3],ClassList[0][4],ClassList[0][5])

In [15]:
class Teacher:
    
    def __init__(self, teachername, tcode,Subject,subcode,periods):
        
        self.teachername=teachername
        self.teachercode=tcode
        self.subject=Subject #s is the subject code
        self.subjectcode=subcode
        self.periods=periods
        tt=[[0] * 9 for _ in range(6)]
        ttinitiator(tt)
        self.ttt=tt

In [16]:
CHY1=Teacher(TeacherData[0][0],TeacherData[0][1],TeacherData[0][2],TeacherData[0][3],TeacherData[0][4])
CHY2=Teacher(TeacherData[1][0],TeacherData[1][1],TeacherData[1][2],TeacherData[1][3],TeacherData[1][4])
MATH1=Teacher(TeacherData[2][0],TeacherData[2][1],TeacherData[2][2],TeacherData[2][3],TeacherData[2][4])
MATH2=Teacher(TeacherData[3][0],TeacherData[3][1],TeacherData[3][2],TeacherData[3][3],TeacherData[3][4])
MATH3=Teacher(TeacherData[4][0],TeacherData[4][1],TeacherData[4][2],TeacherData[4][3],TeacherData[4][4])
PHY1=Teacher(TeacherData[5][0],TeacherData[5][1],TeacherData[5][2],TeacherData[5][3],TeacherData[5][4])
CS1=Teacher(TeacherData[6][0],TeacherData[6][1],TeacherData[6][2],TeacherData[6][3],TeacherData[6][4])
ENG1=Teacher(TeacherData[7][0],TeacherData[7][1],TeacherData[7][2],TeacherData[7][3],TeacherData[7][4])
ENG2=Teacher(TeacherData[8][0],TeacherData[8][1],TeacherData[8][2],TeacherData[8][3],TeacherData[8][4])
ENG3=Teacher(TeacherData[9][0],TeacherData[9][1],TeacherData[9][2],TeacherData[9][3],TeacherData[9][4])
PE1=Teacher(TeacherData[10][0],TeacherData[10][1],TeacherData[10][2],TeacherData[10][3],TeacherData[10][4])
PE2=Teacher(TeacherData[11][0],TeacherData[11][1],TeacherData[11][2],TeacherData[11][3],TeacherData[11][4])
ECO1=Teacher(TeacherData[12][0],TeacherData[12][1],TeacherData[12][2],TeacherData[12][3],TeacherData[12][4])
ACC1=Teacher(TeacherData[13][0],TeacherData[13][1],TeacherData[13][2],TeacherData[13][3],TeacherData[13][4])
BST1=Teacher(TeacherData[14][0],TeacherData[14][1],TeacherData[14][2],TeacherData[14][3],TeacherData[14][4])
BST2=Teacher(TeacherData[15][0],TeacherData[15][1],TeacherData[15][2],TeacherData[15][3],TeacherData[15][4])
HST1=Teacher(TeacherData[17][0],TeacherData[17][1],TeacherData[17][2],TeacherData[17][3],TeacherData[17][4])
CV1=Teacher(TeacherData[16][0],TeacherData[16][1],TeacherData[16][2],TeacherData[16][3],TeacherData[16][4])

In [17]:
E12.subjects

('PHY', 'CHY', 'MATH', 'CS', 'ENG')

# FILLING STUDENT AND TEACHERS TIME TABLE

In [18]:
def TTvalid(teacher):
    
    tt=teacher.ttt
    p=teacher.periods
    #Checking for no more than 6 periods in a day
    tcount=0
    
    for i in range(1,6):
        count=0
        for j in range(1,9):
            if tt[i][j]==0:
                count+=1
        if count<2:
            return False
        tcount+=count
        
    #Checking only specified no. of periods are present in time table
    if (40-tcount)>p:
        return False
    
    return True

In [19]:
TTvalid(CHY1)

True

In [20]:
def countSX(lst, x):
    e=lst.count(x)
    return e

    
def STvalid(student):
    tt=student.stt
    subjects=student.subjects
    periods=student.periods
    a=0
    
    for i in subjects:
        te=0 # te for no. of periods of a subject in a week
        for m in range(1,6):
            e=countSX(tt[m][1:],i)
            if e>2:
                return False
            te+=e
        if te>periods[a]:
            return False
        a+=1
    
    #Checking that no. of periods for a subject do not cross sepcified number
    
    
    return True

In [21]:
STvalid(E12)

True

In [22]:
#Final class and teacher list containing object instance
FCL=(A12,B12,C12,D12,E12,F12)
FTL=(CHY1,CHY2,MATH1,MATH2,MATH3,PHY1,CS1,ACC1,ECO1,BST1,BST2,PE1,PE2,ENG1,ENG2,ENG3,HST1,CV1)

In [23]:
#Using Random number generator and filling time tables and complinibg it all using
#Backtracking(Recursions)

def randomgenerate(): #WILL GENERATE PAIR OF RANDOM NO.
    a=random.randrange(1,6,1)
    b=random.randrange(1,9,1)
    return (a,b)

def findteacher(tch): #Fill time table for teacher
    for i in FTL:
        if i.teachercode==tch:
            return i
        
def isEmpty(person): #It will check whether timetable is completely filled or not
    tt=person.stt
    for i in range(1,6):
        for j in range(1,9):
            if tt[i][j]==0:
                return False
    else:
        return True

def emptyFind(person):
    tt=person.stt
    for i in range(1,6):
        for j in range(1,9):
            if tt[i][j]==0:
                return (i,j)
    return None

In [24]:
def fill(student,a,b): #
    classname=student.classname
    tt=student.stt
    D=student.D
    subjects=student.subjects
    
    #a,b=randomgenerate()

    c=random.choice(subjects)
    #for c in subjects:
    tch=D[c]

    tr=findteacher(tch)

    if tt[a][b]==0 and tr.ttt[a][b]==0:
        tt[a][b]=c
        tr.ttt[a][b]=classname

    if STvalid(student) and TTvalid(tr):
        pass
    else:
        tt[a][b]=0
        tr.ttt[a][b]=0
            
def Fill(student,a,b): #
    classname=student.classname
    tt=student.stt
    D=student.D
    subjects=student.subjects
    
    c=tt[a][b]
    tch=D[c]
    findteacher(tch).ttt[a][b]=0    
    tt[a][b]=0

In [25]:
def solve(student):
    find=emptyFind(student)
    if not find:
        xy=-1
        return True
    else:
        row,col = find
        xy=3

    while xy>0:
        fill(student,row,col)
        if solve(student):
            xy=-1
            return True
            break
                        
        else:
            Fill(student,row,col)
    else:
        return False

In [28]:
solve(F12)

RecursionError: maximum recursion depth exceeded in comparison

In [29]:
F12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'ENG', 'CHY', 'CHY', 'ENG', 'CS', 'MATH', 'MATH', 'CS'],
 ['Tuesday', 'PHY', 'CS', 'MATH', 'MATH', 'ENG', 'CS', 'ENG', 'CHY'],
 ['Wednesday', 'ENG', 'PHY', 'PHY', 'ENG', 'CS', 'CHY', 'CHY', 'CS'],
 ['Thursday', 'MATH', 'PHY', 'CHY', 'MATH', 'CHY', 'ENG', 'ENG', 'CS'],
 ['Friday', 'MATH', 'PHY', 'MATH', 'PHY', 'CHY', 'CS', 'ENG', 'PHY']]

In [40]:
D12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'PHY', 'CHY', 'PHY', 'ENG', 'CS', 'ENG', 'CS', 'MATH'],
 ['Tuesday', 'PHY', 'PHY', 'MATH', 'CS', 'ENG', 'CS', 'MATH', 'CHY'],
 ['Wednesday', 'MATH', 'ENG', 'CHY', 'MATH', 'CHY', 'ENG', 'CS', 'CS'],
 ['Thursday', 'CS', 'PHY', 'MATH', 'CHY', 'MATH', 'CHY', 'ENG', 'ENG'],
 ['Friday', 'CHY', 'CHY', 'PHY', 'MATH', 'ENG', 'PHY', 'CHY', 'PHY']]

In [46]:
solve(F12)

RecursionError: maximum recursion depth exceeded in comparison

In [47]:
F12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'ENG', 'MATH', 'CHY', 'MATH', 'ENG', 'CHY', 'PHY', 'CS'],
 ['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0],
 ['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0],
 ['Thursday', 0, 0, 0, 0, 0, 0, 0, 0],
 ['Friday', 0, 0, 0, 0, 0, 0, 0, 0]]

In [ ]:
A12.stt

In [124]:
B12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'ECO', 'PE', 'ENG', 'ENG', 'BST', 'BST', 'ECO', 'ACC'],
 ['Tuesday', 'PE', 'BST', 'PE', 'ECO', 'ACC', 'BST', 'ACC', 'ECO'],
 ['Wednesday', 'ENG', 'BST', 'ECO', 'PE', 'ENG', 'ACC', 'PE', 'BST'],
 ['Thursday', 'ACC', 'BST', 'ENG', 'PE', 'ACC', 'ENG', 'BST', 'ECO'],
 ['Friday', 'ACC', 'ECO', 'ECO', 'PE', 'PE', 'ACC', 'ENG', 'ENG']]

In [127]:
for i in FCL:
    solve(i)
    
for j in FCL:
    print(j.stt)

RecursionError: maximum recursion depth exceeded in comparison

In [78]:
while isEmpty(F12) is False:
    fill(F12)

KeyboardInterrupt:

In [43]:
TTvalid(findteacher("ACC01"))

True

In [306]:
def solve(student):  #For backtracking
    find=isEmpty(student)
    if not find:
        return True
    else:
        pass
    fill(student)  
    solve(student)

In [126]:
C12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'ACC', 'ENG', 'BST', 'BST', 'ACC', 'ECO', 'MATH', 'MATH'],
 ['Tuesday', 'MATH', 'ENG', 'BST', 'ENG', 'ECO', 'ACC', 'MATH', 'ACC'],
 ['Wednesday', 'MATH', 'ECO', 'ACC', 'ECO', 'ENG', 'MATH', 'BST', 'BST'],
 ['Thursday', 'ENG', 'ENG', 'BST', 'ECO', 'ECO', 'BST', 'ACC', 'ACC'],
 ['Friday', 'BST', 'ENG', 'ACC', 'ECO', 'ENG', 'ECO', 'MATH', 'MATH']]

In [31]:
D12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'ENG', 'ENG', 'CHY', 'MATH', 'PHY', 'PHY', 'CHY', 'MATH'],
 ['Tuesday', 'MATH', 'CHY', 'CHY', 'ENG', 'PHY', 'CS', 'MATH', 'CS'],
 ['Wednesday', 'CHY', 'CS', 'ENG', 'ENG', 'MATH', 'MATH', 'CHY', 'PHY'],
 ['Thursday', 'ENG', 'CHY', 'CS', 'CHY', 'ENG', 'MATH', 'MATH', 'CS'],
 ['Friday', 'CS', 'ENG', 'CS', 'PHY', 'PHY', 'CS', 0, 0]]

In [39]:
E12.stt

[['Zero', '1', '2', '3', '4', '5', '6', '7', '8'],
 ['Monday', 'MATH', 'CS', 'MATH', 'CHY', 'CHY', 'ENG', 'PHY', 'ENG'],
 ['Tuesday', 'CHY', 'PHY', 'ENG', 'CHY', 'MATH', 'ENG', 'CHY', 'CHY'],
 ['Wednesday', 'ENG', 0, 0, 0, 0, 0, 0, 0],
 ['Thursday', 0, 0, 0, 0, 0, 0, 0, 0],
 ['Friday', 0, 0, 0, 0, 0, 0, 0, 0]]

In [38]:
solve(E12)

RecursionError: maximum recursion depth exceeded in comparison

In [48]:
for i in FTL:
    print(i.teachername)
    for j in i.ttt:
        print(j)
    print()
    print()

Jyoti Sharma
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 'XII-E', 'XII-E', 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 'XII-E', 'XII-E']
['Wednesday', 0, 'XII-E', 0, 0, 'XII-E', 0, 0, 0]
['Thursday', 0, 'XII-E', 0, 0, 'XII-E', 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Jigyasa Jain
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 'XII-D', 'XII-F', 0, 0, 'XII-F', 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 'XII-D']
['Wednesday', 0, 0, 'XII-D', 0, 'XII-D', 0, 0, 0]
['Thursday', 0, 0, 0, 'XII-D', 0, 'XII-D', 0, 0]
['Friday', 'XII-D', 'XII-D', 0, 0, 0, 0, 'XII-D', 0]


Vinod Verma
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 'XII-E', 'XII-D']
['Tuesday', 0, 0, 'XII-D', 0, 'XII-E', 0, 'XII-D', 0]
['Wednesday', 'XII-D', 0, 0, 'XII-D', 0, 0, 0, 0]
['Thursday', 0, 0, 'XII-D', 0, 'XII-D', 'XII-E', 0, 0]
['Friday', 0, 'XII-E', 'XII-E', 'XII-D', 0, 0, 0, 0]


Pallavi Aggarwal
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 'XII-F', 0, 'XII-F', 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Anubha
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Amit Tomar
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 'XII-D', 0, 'XII-D', 0, 0, 0, 'XII-F', 0]
['Tuesday', 'XII-D', 'XII-D', 0, 0, 0, 'XII-E', 0, 0]
['Wednesday', 0, 0, 'XII-E', 0, 0, 0, 'XII-E', 0]
['Thursday', 'XII-E', 'XII-D', 0, 'XII-E', 0, 0, 0, 0]
['Friday', 0, 0, 'XII-D', 'XII-E', 'XII-E', 'XII-D', 'XII-E', 'XII-D']


Ansara Banu
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 'XII-E', 'XII-E', 0, 0, 'XII-D', 0, 'XII-D', 'XII-F']
['Tuesday', 'XII-E', 'XII-E', 0, 'XII-D', 0, 'XII-D', 0, 0]
['Wednesday', 'XII-E', 0, 0, 0, 0, 'XII-E', 'XII-D', 'XII-D']
['Thursday', 'XII-D', 0, 0, 0, 0, 0, 0, 'XII-E']
['Friday', 'XII-E', 0, 0, 0, 0, 'XII-E', 0, 0]


Vishal Dhingra
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Sakshi
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Pooja Gupta
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Neha Gupta
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Sachin Sharma
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Harinder
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Anjali Goswami
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 'XII-E', 'XII-E', 0, 0]
['Tuesday', 0, 0, 'XII-E', 'XII-E', 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 'XII-E', 0, 0, 0, 'XII-E']
['Thursday', 0, 0, 'XII-E', 0, 0, 0, 'XII-E', 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Ruchi Jain
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 'XII-F', 0, 0, 'XII-D', 'XII-F', 'XII-D', 0, 0]
['Tuesday', 0, 0, 0, 0, 'XII-D', 0, 0, 0]
['Wednesday', 0, 'XII-D', 0, 0, 0, 'XII-D', 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 'XII-D', 'XII-D']
['Friday', 0, 0, 0, 0, 'XII-D', 0, 0, 0]


Akriti Sinha
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Mukesh
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]


Swarupa
['Zero', '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]