In [7]:
M = 6
N = 9
d = [[0] * N for _ in range(M)]

In [16]:
def create_tt(day,cla):
    tt=[[0]*cla for i in range(day)]

In [12]:
def ttinitiator(d):
    d[1][0]='Monday'
    d[2][0]='Tuesday'
    d[3][0]='Wednesday'
    d[4][0]='Thursday'
    d[5][0]='Friday'
    d[0][1]="1"
    d[0][2]="2"
    d[0][3]="3"
    d[0][4]="4"
    d[0][5]="5"
    d[0][6]="6"
    d[0][7]="7"
    d[0][8]="8"

In [13]:
print(d)

[[0, '1', '2', '3', '4', '5', '6', '7', '8'], ['Monday', 0, 0, 0, 0, 0, 0, 0, 0], ['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0], ['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0], ['Thursday', 0, 0, 0, 0, 0, 0, 0, 0], ['Friday', 0, 0, 0, 0, 0, 0, 0, 0]]

In [15]:
def print_tt(tt):
    for i in tt:
        print(i)
        
print_tt(d)

[0, '1', '2', '3', '4', '5', '6', '7', '8']
['Monday', 0, 0, 0, 0, 0, 0, 0, 0]
['Tuesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Wednesday', 0, 0, 0, 0, 0, 0, 0, 0]
['Thursday', 0, 0, 0, 0, 0, 0, 0, 0]
['Friday', 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
#Function to insert subjects in student time table
def stt_insert(tt, sub, pos):
    tt[pos[0]][pos[1]]=sub
    
#Function to insert classes in teacher time table
def ttt_insert(tt, class, pos):
    tt[pos[0]][pos[1]]=class

In [6]:
class Class:
    
    def __init__(self, classname,sub1,sub2,sub3,sub4,sub5):
        
        self.classname=classname
        s1=Subject[sub1[0]]
        s2=Subject[sub2[0]]
        s3=Subject[sub3[0]]
        s4=Subject[sub4[0]]
        s5=Subject[sub5[0]]
        
        self.subject1=s1
        self.subject2=s2
        self.subject3=s3
        self.subject4=s4
        self.subject5=s5
        
        self.teacher1=sub1[1]   #s1, t1 will be subject code not names 
        self.teacher2=sub2[1]
        self.teacher3=sub3[1]
        self.teacher4=sub4[1]
        self.teacher5=sub5[1]
        
        self.period1=sub1[2]
        self.period2=sub2[2]
        self.period3=sub3[2]
        self.period4=sub4[2]
        self.period5=sub5[2]
        
        subjects=(s1,s2,s3,s4,s5)
        self.subjects=subjects
        
        tt=[[0] * 9 for _ in range(6)]
        ttinitiator(tt)
        self.stt=tt

In [4]:
class Teacher:
    
    def __init__(self, teachername, tcode,Subject,subcode,periods):
        
        self.teachername=teachername
        self.teachercode=tcode
        self.subject=Subject #s is the subject code
        self.subjectcode=subcode
        tt=[[0] * 9 for _ in range(6)]
        ttinitiator(tt)
        self.stt=tt

In [2]:
#these two dictionaries relate subjectnames to subject codes
Subject ={'English':'EN',
          'Physics':'PHY',
          'Chemistry':'CHY',
          'Maths':'MATH',
          'Accounts':'ACC',
          'Economics':'ECO',
          'Computer Sci':'CS',
          'History':'HST',
          'Geography':'GEO',
          'Physical Education':'PE'
         }

In [29]:
tw=Class("XII-A")

In [35]:
tw.sub1("English"):

SyntaxError: invalid syntax (<ipython-input-35-1aab38ffc764>, line 1)

In [34]:
tw.classname

'XII-B'

In [5]:
def countSX(lst, x): 
    if lst.count(x)>2:
        return False 
    
def STvalid(tt,subjects): #st, tt stands for studnet, teacher timetable
        
    #d = Counter(list)
    for i in subjects:
        countSX(subjects,i)
    
    
def TTvalid(tt):
    #Checking for no more than 6 periods in a day
    for i in range(1,6):
        count=0
        for j in range(1,9):
            if tt[i][j]==0:
                count+=1
        if count<2:
            return False
    else:
        return True